################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/.vs/CalculatorApp/v16/Server/sqlite3
/.vs/CalculatorApp/v16
/.vs
/bin/Debug
/obj/Debug
